body {
	background-color: black;
}
h1 {
	color: #00FF00;
}
h2 {
	color: #00FF00;
	
}
p {
	color: #00FF00;
}
a:link {
	color: #00a3ff;
	text-decoration: none;
}

a:visited {
	color: #F800FF;
	text-decoration: none;
}

a:hover {
	color: white;
	text-decoration: none;
}

img {
	width: 5%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	
}

.header {
  grid-area: header;
  border-bottom: 1px solid #00FF00;
  
  text-align: center;
}

.navbar {
  grid-area: navbar;
  border-left: 1px solid #00FF00;
  border-right: 1px solid #00FF00;
  border-bottom: 1px solid #00FF00;
  text-align: center;
  font-weight: bold;
}

.main-body {
  grid-area: main;
  border-left: 1px solid #00FF00;
  border-right: 1px solid #00FF00;
  
  padding-top: 2%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 2%;
  text-align: center;
}
.sidebar {
  grid-area: sidebar;
  text-align: center;
  
}
.footer {
  grid-area: footer;
  border-top: 1px solid #00FF00;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-areas: 
    "header header header header"
	". navbar navbar ."
    ". main main sidebar"
    "footer footer footer footer";
	
}

